@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Josefin+Sans&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* slider */
#slider1 {
  overflow: hidden;
}

#slider1 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider1 figure img {
  width: 20%;
  float: left;
}
/* move the slider */
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}
/* navbar main, width 100% so its always across screen, position sticky so it stays on top */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 30px 0;
  box-shadow: 0 2px 5px #d9d9d9;
  font-family: 'Open Sans', sans-serif;
  position: sticky;
  top: 0;
  z-index: 50;
}
/* navbar text design so it has no underline*/
nav ul {
  list-style: none;
  text-align: center;
}
/* navbar inline */
nav ul li {
  display: inline-block;
}
/* navbar text style */
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 0 10px;
}
/* navbar transition time  */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
/* navbar hover color */
nav ul li a:hover {
  color:#0072CE;
}
/* navbar positioning so it can be moved*/
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
/* navbar blue underline animation */
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #0072CE;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* grid so i can place items in center*/
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #fff;
  
}
::selection{
  background: #fa4299;
  color: #fff;
}
/* wrapper design */
.wrapper{
  display: inline-block;
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: Quicksand;
}
/* wrapper title  */
.wrapper .title-text{
  display: flex;
  width: 200%;
}
/* wrapper title  design */
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
/* wrapper slide controls design*/
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
/* wrapper slide text design */
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: #0072CE;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
/* sign up button designs */
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #ddd;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #ddd;
}
#login:checked ~ label.signup{
  color: #0072CE;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
/* form container */
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #0072CE;
}
.form-inner form .field input::placeholder{
  color: #0072CE;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #0072CE;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #0072CE;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
/* form button design*/
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: #0072CE;
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
  
